<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alumno">

    <select id="obtener-todos" resultType="pojo.Alumno">
        SELECT idAlumno, nombre, apellidoPaterno, apellidoMaterno, matricula,
        correo, fechaNacimiento, a.idCarrera, c.carrera, c.idFacultad, f.facultad
        FROM alumno a
        INNER JOIN carrera c ON c.idCarrera = a.idCarrera
        INNER JOIN facultad f ON f.idFacultad = c.idFacultad
    </select>
    
    <select id="obtener-por-carrera" resultType="pojo.Alumno" parameterType="int">
        SELECT idAlumno, nombre, apellidoPaterno, apellidoMaterno, matricula, correo, fechaNacimiento
        FROM alumno
        WHERE idCarrera = #{idCarrera}
    </select>
    
    <update id="guardar-foto" parameterType="pojo.Alumno">
        UPDATE alumno SET foto = #{foto} WHERE idAlumno = #{idAlumno}
    </update>
    
    <select id="obtener-foto" parameterType="int" resultType="pojo.Alumno">
        SELECT idAlumno, TO_BASE64(foto) as 'fotoBase64' 
        FROM alumno 
        WHERE idAlumno = #{idAlumno}
    </select>

</mapper>