<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="catalogo" >

    <select id="roles" resultType="pojo.Rol">
        SELECT idRol, rol FROM rol
    </select>
    
    <select id="obtener-facultades" resultType="pojo.Facultad" >
        SELECT idFacultad, facultad FROM facultad
    </select>

    <select id="obtener-carreras-facultad" resultType="pojo.Carrera" parameterType="int" >
        SELECT idCarrera, carrera FROM carrera WHERE idFacultad = #{idFacultad}
    </select>
    
</mapper>